body {
  background: radial-gradient(circle at 10% 20%, rgb(253, 193, 104) 0%, rgb(251, 128, 128) 90%);
}

.weather-app {
  display: block;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  max-width: 600px;
  line-height: 1.5;
  box-shadow: rgb(37 39 89 / 15%) 0px 12px 12px 0;
  background: #ffffff;
  border-radius: 20px;
  color: black;
  width: 50%;
  padding: 30px;
  margin: 30px auto;
  margin-bottom: 10px;
}
small {display: block;
  font-family: "Courier New", Courier, monospace;
  text-align: center;}
form {
  text-align: left;
}
h1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase
}

[id=temperature] { font-size: 85px;
  display: inline-block;
 }
.btn-my-location {
  padding: 2px 8px; 
  font-size: 16px;
  text-align: center;
border-radius: 3px;
border: 1px solid;
  width: auto;
  background-color: #efefef ;
  color: black;
border-color: #767676;
transition: all 200ms ease-in-out;
cursor: pointer;
}
.btn-my-location:hover {
  background: #e5e5e5;
  border: solid;
  border-color: #f4f4f4}

.degree {font-size: 80px;  margin-bottom: 20px;
font-weight: 150;}

.weatheremoji {
  width: 20%;
  max-width: 550px;
  position: center;
}
.forecastemoji {
  position: center;
  padding-bottom: 8px;
}
.current-temp {
  display: block;
  text-align: center;
}
.temp-today {
  font-size: 15px;
}
.current-prop {
  text-align: left;
}
.weather-forecast-temperature-max {
  font-weight: bold;
}
ul {
  list-style: none;
  padding: 0;
}
.footer {
  padding-top: 15px;}